@model PRORegister.PRONBS.Models.DataModels.ImageModel

@{
    ViewData["Title"] = "Details";
}
    <div class="alert-heading">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div>        
        <hr />
        <dl class="row">
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>*@
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageName)
            </dd>
            <dt class="col-sm-2">
                Uploaded Image
            </dt>*@
            <dd class="col-sm-12">
                <img src="@("~/Image/"+Model.ImageName)" asp-append-version="true" width="100%" height="100%" />
            </dd>
        </dl>
    </div>
<div class="row flex-xl-grow-1">
    <div class="col-md-4">
        <a class="btn btn-sm btn-block btn-outline-success" asp-controller="Image" asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-sm btn-block btn-outline-success" asp-controller="Image" asp-action="Index">Back to Images</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-sm btn-block btn-outline-success" asp-controller="PRONBS" asp-action="Index">Back to PRO NBS</a>
    </div>
</div>