@model IEnumerable<PRORegister.PRONBS.Models.DataModels.Incident>
@{
    ViewData["Title"] = "IndexSearch";
}
    <div class="badge">

        <h3>Incidents - Incident number search</h3>



        <form asp-controller="Incidents" asp-action="IndexSearch">
            <p>
                Search for Incidentnumber: <input type="text" name="SearchString">
                <input type="submit" value="Search" />
            </p>
        </form>

        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IncidentNumber)</th>


                    <th>@Html.DisplayNameFor(model => model.IncidentPriority)</th>
                    <th>@Html.DisplayNameFor(model => model.Site)</th>

                    <th>@Html.DisplayNameFor(model => model.Description)</th>

                    <th>@Html.DisplayNameFor(model => model.IncidentStatus)</th>



                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(i => i.IncidentPriority)@*.Where(a => a.AssetTypeId == 1)*@)
{
    <tr>
        <td> @Html.DisplayFor(modelItem => item.IncidentNumber)</td>

        <td> @Html.DisplayFor(modelItem => item.IncidentPriority.IncidentPriorityName)</td>
        <td> @Html.DisplayFor(modelItem => item.Site.NoSite)</td>

        <td>@Html.DisplayFor(modelItem => item.Description)</td>
        <td>@Html.DisplayFor(modelItem => item.IncidentStatus.IncidentStatusName)</td>




    </tr>
}
            </tbody>
        </table>
        <a class="btn btn-sm btn-success" asp-controller="Incidents" asp-action="ListIncidents">Back to Incidents</a>
        <a class="btn btn-sm btn-success" asp-controller="PRONBS" asp-action="Index">Back to PRONBS</a>
    </div>