@model PRORegister.PRONBS.Models.DataModels.Bill

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyToBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyToBill.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyBilling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyBilling.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLog1.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLog2.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLog3.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLog4.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLog5.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingTerms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingTerms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtrCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtrCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillStatusStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillStatusStatus.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
