@model PRORegister.PRONBS.Models.DataModels.Bill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyToBill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyToBill.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyBilling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyBilling.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog1.WLog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NABLog1.WLog.WLNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog1.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NABLog1.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NABLog2.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NABLog3.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NABLog4.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NABLog5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NABLog5.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingTerms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingTerms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MtrCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MtrCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillStatusStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillStatusStatus.BillStatusName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListBillsCreated">Back to Bills</a>
</div>
