@model IEnumerable<PRORegister.PRONBS.Models.DataModels.Asset>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MACAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Connectivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ethernet1LLDP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ethernet1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Site.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetStatus.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetType.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetBrand.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MACAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Connectivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ethernet1LLDP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ethernet1)
                </td>
                <td>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-sm btn-success" asp-controller="Assets" asp-action="ListAssets">Back to Assets</a>
</div>
